/* COLOUR SCHEME:
LIGHT:    #F1D290
LIGHT-M:  #A6A77F
MEDIUM:   #5B725F
DARK-M:   #233D41
DARK:     #1A2027
*/

.navbar-dark .navbar-brand
{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #F1D290;
}

.navbar-dark .navbar-brand:focus
{
  color:  #F1D290;
}

.navbar-dark .navbar-nav .nav-link
{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: #F1D290;
}

.navbar-dark .navbar-nav .nav-link:hover
{
  color: #A6A77F;
}
.navbar-dark .navbar-nav .nav-link:focus
{
  color: #FFFFFF;
}

.title
{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: #F1D290;
}

.title .dark-bg
{
  color: #F1D290;
}

.title .dark-bg
{
  color: #1A2027;
}

.subtitle
{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: #5B725F;
}

.dark-bg
{
  background-color: #1A2027;
  
}
.light-bg
{
  background-color: #F1D290;
}

.txt-content
{
  padding:20px;
}

.pg-content
{
  display: block;
  text-align: center;
}

@media(min-width:576px){
}
  
@media(min-width:768px){
  .title
  {
    font-size:3em;
  }
  .subtitle
  {
    font-size:1.5em;
  }
}

@media(min-width:992px){
}
  
@media(min-width:1200px){
}