.scale {
  font-size: 2.5em;
}

@media(min-width:576px){
  .scale{font-size: 4.5em;}
  }
@media(min-width:768px){
  .scale{font-size: 5em;}
  }
@media(min-width:992px){
  .scale{font-size: 6em;}
  }
@media(min-width:1200px){
  .scale{font-size: 7em;}
  }


.pg-content
{
    flex: 1 0 auto;
}
