html {
  font-size: 0.4em;
}

@media(min-width:576px){
  html{font-size: 0.7em;}
  }
@media(min-width:768px){
  html{font-size: 1em;}
  }
@media(min-width:992px){
  html{font-size: 1.1em;}
  }
@media(min-width:1200px){
  html{font-size: 1.3em;}
  }


.pg-content
{
    flex: 1 0 auto;
}
