#full-height{
	min-height:100%;
	min-width:100%;
	display:flex;
	position: relative;
	background-color:$mdc-theme-primary;
}

.dynamic-content{
	width:100%;
	max-width: 1400px;
	margin:0 auto;
}

#home{

}

#portfolio{

}

#about{

}

#contact{
	
}
